@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
}
header{
    width: 100%;
    position: absolute;
}
.headerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgFundo{
    width: 100%;
    position: absolute;
}
.logo{
    width: 13em;
    height: 13em;
    position: absolute;
    top:0;
    left: 0;
}
.containerPerfil{
    background-color: rgba(214, 0, 36, 1);
    color: rgba(255, 255, 255, 1);
    width: 15em;
    height: 4.3em;
    margin-left: auto;
    border-radius: 2.4em;
    text-align: left;
    display: flex;
    position: relative;
    margin-top: 1.6em;
}
.containerIcone{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 3.8em ;
    height: 3.8em;
    border-radius: 5em;
    margin-left: 11em;
    margin-top: 0.2em;
}
.icone{
    color: black;
    font-size: 2em;
}
.containerButton{
    position:relative;
    margin-left:auto;
    margin-right: auto;
    width:45.3em;
    height: 3em;
    margin-top: 15em;
    background-color: rgba(214, 0, 36, 1);
    border-radius: 2.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.containerButton:focus{
    outline: none;
}
.transitionButton{
    width: 11.7em;
    height: 2em;
    background-color:  rgba(214, 0, 36, 1);
    border-radius: 2.3em;
    border-style: none;
    font-weight: 500;
    font-size: 1.5em;
    color: #FFFFFF;
}
.transitionButton:focus{
    background-color: #FFC306;
    box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
    color: #D60024;
    outline: none;
}
