@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
header{
    width: 100%;
    position: absolute;
}
.imgFundo{
    width: 100%;
    position:absolute;
}
.logoHeader{
    position: absolute;
    width: 13em;
    height: 13em;
}
.containerPerfil{
    background-color: rgba(214, 0, 36, 1);
    color: rgba(255, 255, 255, 1);
    position: relative;
    width: 15em;
    height: 4.3em;
    margin-top: 1.6em;
    margin-left: auto;
    border-radius: 2.4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.nomePerfil{
    margin-left: 1em;
}
.iconePerfil{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 3.8em ;
    height: 3.8em;
    border-radius: 5em;
    margin-left: 10em;
}
.icone{
    color: black;
    font-size: 2em;
    
}
.containerButton{
    position:relative;
    margin-left:auto;
    margin-right: auto;
    width:45.3em;
    height: 3em;
    margin-top: 15em;
    background-color: rgba(214, 0, 36, 1);
    border-radius: 2.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.transitionButton{
    width: 11.7em;
    height: 2em;
    background-color:  rgba(214, 0, 36, 1);
    border-radius: 2.3em;
    border-style: none;
    font-weight: 500;
    font-size: 1.5em;
    color: #FFFFFF;
}
.transitionButton:focus{
    background-color: #FFC306;
    box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
    color: #D60024;
    outline: none;
}
/*Estilização da div do cardapio -> item*/

.item{
    width: 9em;
    height: 9em;
    margin-left: 0.8em ;
}
.containerItem{
    position:absolute;
    width: 28em;
    height: 13em;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0.25em 0.25em 0.75em 0.1em rgba(0, 0, 0, 0.25);
    margin-top: 32em;
    margin-left: 1.6em;
    display: flex;
    align-items: center;
    border-radius: 1em;
}
.descricao{
    display: flex;
    flex-direction: column;
    margin-left: 0.8em;
    width: 12em;
}
.descricao h2{
    line-height: 2em;
    text-align: center;
}
.descricao p{
    margin-top: 0.6em;
}
.descricao h3{
    font-weight: 600;
    margin-top: 0.2em;
    font-size: 2em;
    color: #D60024;
}
.divider02{
    width: 12em;
    background-color: #D60024;
    height: 0.3em;
    border: none;
    border-radius: 0.2em;
    margin-left: auto;
    margin-right: auto;
}
.addItem{
    background-color: transparent;
    border: none;
    width: 3em;
    height: 3em;
}
.addIcon{
    font-size: 3em;
    margin-left: 0.8em;
}
/*Fim da estilização da div de item*/