@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

body{
 display: flex;
 text-align: center;
 justify-content: center;
 flex-direction: column;
}

header{
    width: 100vw;
    text-align: center;
    justify-content: center;
}

#logo{
    width: 10em;
    position: absolute;
}

#fundo{
    width: 100vw;
    height: 30em;
}

#perfil{
    color: white;
    width: 10em;
    height: 2.6em;
    border-radius: 30px;
    background-color: red;
    position: absolute;
    right: 1em;
    top: 3em;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    
}

#perfil p {
    margin: 0;
    margin-top: 0.6em;
    display: inline-block;
    
}

#icone{
    color: black;
    float: right;
    width: auto;
    height: 2.4em;
    margin-top: 0.1em;
    margin-right: 0.2em;
    background-color: white;
    border-radius: 35px;
}

#navegar {
    align-items: center;
    text-align: center;
    margin-top: 0em;
    position: absolute;
    width: 100vw;
    z-index: 1;
    top: 28em;
}

#navegar nav {
    text-align: center;
    align-items: center;
    
}

#escolha {
    background-color: rgba(214, 0, 36, 1);
    padding: 0px;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    height: 2em;
    width: 30em;
    align-items: center;
}

#escolha li {
    cursor: pointer;
    height: 1.3em;
    font-size: 25px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
}

#escolha .selecionado {
    background-color: rgba(255, 195, 6, 1);
    color: rgba(214, 0, 36, 1);
}

header hr{
    margin: 0px;
    margin-top: -5px;
    background-color: rgba(255, 195, 6, 1);
    height: 0.2em;

}

main{
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#bolinha{
    margin: 1em 0em 1em 0em;
    display: flex;
    align-items: center;
}

#bolinha div{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 15em;
}


#bolinha label {
    position: relative;
    cursor: pointer;
    
  }

  /* Estilizando o círculo externo */
  #bolinha label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -3.1em;
    height: 1em;
    width: 1em;
    border: 2px solid rgba(255, 166, 181, 1);
    background-color: rgba(255, 166, 181, 1);
    border-radius: 50%;
  }

  /* Estilizando o círculo interno quando o radio está marcado */
  #bolinha input[type="radio"]:checked + label::before {
    border-color: rgba(214, 0, 36, 1);
    background-color: rgba(214, 0, 36, 1);
  }

  /* Estilizando o ponto interno quando o radio está marcado */
  #bolinha input[type="radio"]:checked + label::before::after {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(214, 0, 36, 1);
  }

.produtos{
   cursor: pointer;
   margin: 1em;
   width: auto;
   height: auto;
   display: inline-block;
   justify-content: space-between;
   flex-direction: row;
   box-shadow: 9px 8px 25px 0.1px;
   border-radius: 17px;
}
.detalhes{
    margin: 2px;
    float: right;
    width: 13em;
    height: 11em;
    text-align: center;
    align-items: center;
}

.detalhes h1{
    margin: 0px;
    margin-top: 0.4em;
    font-size: 25px;
    
}
.detalhes h2{
    font-weight: lighter;
    text-align: end;
    margin: 10px;

}

.produtos hr{
    text-align: center;
    margin: 1;
    width: 12em;
    height: 0.2em;
    border-radius: 20px;
    background-color: rgba(214, 0, 36, 1);
    border: none;
}
.produtos p{
    margin: 3px;
    font-weight: 100;
}

.fotProd{
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    width: 9em;
    height: 9em;
    border-radius: 17px;
}